* {
    font-variant-ligatures: none;
}

body {
    font-family: VT323, monospace;
    font-size: 20px;
    background-color: #010101;
}

.status {
    width: 90%;
    text-align: left;
    color: #017101;
    margin: 0px auto;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.main {
    width: 90%;
    padding: 10px 20px;
    margin: 0px auto;
    background-color: black;
    color: #00ff00;
    border: 2px solid #017101;
    margin-bottom: 40px;
}

h1, h2 {
    text-align: center;
    margin: 0;
}

h1 {
    font-family: VT323, sans;
    font-size: 40px;
    margin-bottom: 20px;
    letter-spacing: 4px;
}

h2 {
    font-size: 30px;
}

.actions {
    margin: 50px auto;
    text-align: center;
}

a.button, input.button {
    background-color: transparent;
    border: 1px solid #00CC00;
    color: #00CC00;
    font-size: 30px;
    margin: 20px 0px;
    padding: 10px;
    font-family: VT323, monospace;
}

.button:hover {
    font-weight: bold;
    cursor: pointer;
    border-color: #00FF00;
    color: #00FF00;
    box-shadow: 0px 0px 1px 1px #009900 ;
}

.question {
    font-size: 30px;
    margin: 20px auto;
    text-align: center;
    color: white;
}

#art_desc {
    display: none;
}

input[type="text"] {
    padding: 10px;
    font-size: 30px;
    width: 100%;
    border: 1px solid #00CC00;
    background-color: transparent;
    color: #00CC00;
    font-family: VT323, monospace;
}

input[type="text"]:focus {
    border-color: #00FF00;
    color: #00FF00;
}

.alert {
    animation: blinker 1s linear infinite;

    text-align: center;
    font-size: 30px;
    margin: 0;
}

.info {
    color: white;
    animation: blinker 1s linear infinite;
}

.success {
    color: #00ff00;
}

.error {
    color: red;
}

@keyframes blinker {
50% {
    opacity: 0;
}
}

.question.reversed {
    /* -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1); */

}

.main pre {
    display: none;
    margin: 0 auto;
}

.main pre.art-small {
    display: block;
}

.main pre.art-mini {
    display: block;
}

hr {
    height: 2px;
    background-color: #00ff0069;
    margin: 50px 0;
}

#hint-trigger {
    color: #009900;
    margin-left: 3px;
}

#hint-trigger:hover {
    cursor: pointer;
    font-weight: bold;
}

#hint {
    display: block;
    visibility: hidden;
    color: #bdbdbd;
    margin-left: 3px;
    margin-bottom: 10px;
}

#hint.visible .hint-text {
    visibility: visible;
    display: block;
  	overflow: hidden;
 	animation: typing 5s steps(200, end), blink .75s step-end infinite;
    white-space: nowrap;
    box-sizing: border-box;
}

@keyframes typing {
    from {
        width: 0%
    }
    to {
        width: 100%
    }
}

@media only screen and (min-width: 320px) {
    .main, .status {
        width: 90%;
    }

    .main pre.art-small {
        display: none;
    }

    .main pre.art-mini {
        display: block;
    }


}

@media only screen and (min-width: 400px) {
    .main, .status {
        width: 390px;
    }

    .main pre.art-mini {
        display: none;
    }

    .main pre.art-small {
        display: none;
    }

    .main pre.art-medium {
        display: block;
    }

    h1 {
        font-size: 60px;
    }
}

@media only screen and (min-width: 768px) {
    .main, .status {
        width: 740px;
    }

    .status {
        margin-top: px;
    }

    .main pre.art-small {
        display: none;
    }

    .main pre.art-medium {
        display: none;
    }

    .main pre.art-large {
        display: block;
    }

    h1 {
        font-size: 80px;
    }
}

@media only screen and (min-width: 1024px) {
    .main, .status {
        width: 800px;
    }

    .status {
        margin-top: 20px;
    }

    h1 {
        font-size: 80px;
    }
}

@-ms-viewport{
    width: device-width;
}

